/*
* @Author: 我的文档
* @Date:   2018-08-13 09:06:50
* @Last Modified by:   我的文档
* @Last Modified time: 2018-08-13 10:26:02
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}