
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "苹方";
    list-style: none;
    text-decoration: none;
}
header .daohang{
    width: 100%;
    height: 75px;
    background: #333333;
   
}
header .daohang ul li{
    width: 100px;
    height: 64px;
    float: left;
    text-align: center;
    line-height: 75px;
    color: #fff;
    display: none;
}
header .daohang ul li:nth-child(2){
    
    width:340px;
    height:57px;
    padding-left: 70px;
    display: inline;
    float: left;
}
.daohang ul li:nth-child(2) .pic{
    width: 100%;
    height: 100%;
    background-image: url('../img/daohang.png') ;
    background-size: 140px 57px;
    background-repeat: no-repeat;
    background-position: center;

}
.sousuo{
     width:240px; 
    height: 23px;
    float: right;
    padding-top: 22.5px;

}
header .daohang ul li:nth-child(1){
   display: inline;
}

.ss{
     width: 30px;
   height: 30px;
 /*   background: #3EC9AD; */
   float: right;
   line-height: 30px;
   text-align: center;
}
input{
    width: 210px;
    height: 30px;
    float: left;
      display: none;
}
header .dh li{
    width: 100px;
}
.ss i{
    font-size: 20px;
    color: #fff;
    line-height: 3px;
}

header .daohang ul li a i{
    color: #FFF;
    font-size: 25px;
    line-height: 75px;
}


.swiper-container {
    width: 600px;
    height: 300px;
} 
.swiper-slide img{
    width: 100%;
    height: 100%;
}




banner{
    width: 100%;
    height: 575px;
    background-color: #fff;
}
banner .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
banner .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

banner .tubiao li{
    border: 1px solid #665e57;
    height: 152px;
    float: left;
    text-align: center;
    padding-top:30.5px;
    padding-bottom: 30.5px; 
}

 /* banner .tubiao li a：hover{
    background: #3EC9AD;
    color: #fff;
} */
/* banner .tubiao li：hover p{
    background: #3EC9AD;
    color: #fff;
} */



banner .tubiao li a i{
    font-size: 40px;
    color: #888888;
    width: 73px;
    height: 73px;
    text-align: center;

}
banner .tubiao li p{
        color: #888888;
        font-size: 18px;
}

anli{
    width: 100%;
    height: 802px;
    background-color: #fff;
}
anli .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
anli .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
anli .zhanshi img{
    width: 100%;
}
anli .zhanshi li{
    height: 400px;
    /* float: left; */
    
}
anli .zhanshi li h5{
    font-size: 18px;
    text-align: left;
}
/* anli .zhanshi .zi p{
    font-size: 15px;
} */
anli .zhanshi  .x{
    width: 100px;
    height: 30px;
    right: 100px; 
    border: 1px solid red;
    padding-top: 5px;
    margin-left: 100px;
    text-align: center;
}
anli .zhanshi .x a{
    font-size: 15px;
    color: red;
}
anli .zhanshi .zi p{
        color: #888888;
        font-size: 15px;
        text-align: left;
}
anli .move{
    color: orange;
    font-size: 20px;
    text-align: center;
}



zhuangxiu{
    width: 100%;
    height: 400px;
    background-color: #fff;
}
zhuangxiu .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
zhuangxiu .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
zhuangxiu .tupian li{
    height: 700px;
    
}
zhuangxiu .tupian li img{
    width: 100%;
    height: 600px;
}
zhuangxiu .tupian li h5{
    font-size: 15px;
    text-align: center;
}
zhuangxiu .tupian li p{
    font-size: 12px;
    text-align: center;
}
zhuangxiu .move{
    color: orange;
    font-size: 20px;
    text-align: center;
}



tupian{
    width: 100%;
    height: 400px;
    background-color: #fff;
}
tupian .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
tupian .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
tupian .tupian li{
    height: 150px;
    
}
tupian .tupian li img{
    width: 100%;
    height: 116px;
}
tupian .move{
    color: orange;
    font-size: 20px;
    text-align: center;
}





renwu{
    width: 100%;
    height: 802px;
    background-color: #fff;
}
renwu .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
renwu .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

renwu .tupian li{
    height: 500px;
    text-align: center;
    
}
renwu .tupian li .hezi{
    width: 100%;
    height: 300px;
}
renwu .tupian li .hezi img{
    width: 100%;
    height: 300px;
}
renwu .tupian li h5{
    font-size: 18px;
}
renwu .tupian li .zi{
    background: #3EC9AD;
    color: #fff;
}




pinpai{
    width: 100%;
    height: 802px;
    background-color: #fff;
}
pinpai .wenzi h5{
    padding-top: 20px;
    color: #000;
    font-size: 29px;
    text-align: center;
} 
pinpai .wenzi h6{
    color: #BABABA;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

pinpai .tupian li{
    background-color: #F7F7F7;
    text-align: center;
    height: 90px;
    float: left;
    
}
pinpai .tupian li img{
    font-size: 40px;
    /* color: #888888; */
    width: 180px;
    height: 80px;
    text-align: center;
}
footer{
    background: #BABABA;
    padding-top: 20px;
    height: 100px;
    text-align: center;
}














@media screen and (min-width:768px){
   

}
@media screen and (min-width:992px){
    header .daohang{
    background: #fff;

   
}
    header .daohang ul li{
    display: inline;
    color: black;
}
.daohang ul li:nth-child(2) .pic{
  /*   width: 100%;
    height: 100%; */
    background-image: url('../img/导航1.png') ;
   /*  background-size: 140px 57px;
    background-repeat: no-repeat;
    background-position: center; */

}
header .daohang ul li:nth-child(2){
    width: 140px;
    height: 75px;
    padding-left: 0px;
    display: inline;
    padding-right: 0px;

}

header .daohang ul li:nth-child(1){

  display: none;
}

.ss{
     width: 30px;
   height: 30px;
   background: #3EC9AD;
   float: right;
   line-height: 30px;
   text-align: center;
}
input{
    width: 210px;
    height: 30px;
    float: left;
      display:inline;
}

.swiper-container {
    width: 1140px;
    height: 500px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
}
/* 大屏幕 col-lg- >1200px */
@media screen and (min-width:1200px){
}   

